<!DOCTYPE html>
<html ng-app="tasks">
  <head>
<!--     <title><%= title %></title>
 -->
    <script type='text/javascript' src="/javascripts/lib/angular/angular.min.js"></script>
    <script type='text/javascript' src="/javascripts/lib/angular-route/angular-route.min.js"></script>

    <script type='text/javascript' src="/javascripts/app/controllers.js"></script>
    <script type='text/javascript' src="/javascripts/app/services.js"></script>
    <script type='text/javascript' src="/javascripts/app/filters.js"></script>
    <script type='text/javascript' src="/javascripts/app/directives.js"></script>
    <script type='text/javascript' src="/javascripts/app/app.js"></script>


    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>

  <div ng-view> 
  </div>

  </body>
</html>
