<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>

  <body>
    <h1><%= title %></h1>

    <div id="task">
      <h2> <%= task.name %> </h2>
      <p> <%= task.detail %> </p>  
    </div>

  </body>

</html>